LuppoPackage {
    Source {
        Name "libreoffice"
        Packager {
            Name "Antolun Community"
            Email "admins@antolun.com"
        }
        License "LGPLv3"
        Summary "LibreOffice office suite"
        Description "LibreOffice is an open source, multi-platform office productivity suite. It includes key desktop applications such as a word processor, a spreadsheet application, a presentation creator-viewer, a formula editor and a drawing program, with a user interface and feature set similar to other office suites. Sophisticated and flexible, LibreOffice also works transparently with a variety of file formats, including those of Microsoft Office."
            Archive type="tarxz" sha1sum="70cb3caabe10d8a4053bda80bc5608195f576422" {
                "tarxz"
            }
            Archive type="tarxz" sha1sum="1f2fcba8281ff7fc9e304c45b577599c78a5f9b2" {
                "tarxz"
            }
            Archive type="tarxz" sha1sum="f28cf4406149842746ddbc915534594a32364f0f" {
                "tarxz"
            }
            Archive type="tarxz" sha1sum="58a6d990aa14e2bfc217b235de04e2ee01318269" {
                "tarxz"
            }
            Archive type="binary" sha1sum="1acea86fd399ed7817879d36370d3d1f8b109050" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="2d49e11b0b711970f494294dc3698f05eb294853" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="0a134d01e9aeb09b33f4c7450fb41abb7bed9db6" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="43a7ff11dd15370d456b20a093e1ee81279163a0" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="b92930010622906778f713fb8f0153fa0683d018" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="3232dd31859be4f7eb443c33e8e3287f394789a0" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="47b58e0ef2d856df26372a7061ae43fae6e08051" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="5ecb895ffc1eff2c381fa78d2197d0c57422b3df" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="a637c0c3ad3be32d6814972e1c45e547c5f6359d" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="e393beea80d36ff27b732882c706826988a64f5c" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="b19ad429273abb116432eae3af955ecaf1ab5b17" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="65dfba9970bb862d09c1f9e636b86b22f05d3936" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="452eba922e4f41603539c9dc39947d2271e47093" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="bf0bbf2a0c9f78699f48ea2213859f8f8f6e149b" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="6cc86629f8d276ab1c45c3f337674284fab4eff6" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="c4f5760a1d21213dc52e2cf3ad9c0b9112585f36" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="7168b0f40aa5c72267899601c116d2348d2f56ec" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="15b1ece2f131bdb007cae5762f631e8d5fd6eaae" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="f5fce3d5eb21294f9ffba40c34e7c736ab64d6b9" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="3478ebc27bb76025f4b5c2ae6a9bac6090e2cb09" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="1acd76cd63f7b19f6a0252eb029c3cb13a25aa9b" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="aba033553f077c30bef222a8be26f61cf18c05fb" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="a11eddd24e8a95e62d69d9c8765296474a5a92de" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="76497846de1f3d2ef438d79e31328107658d10be" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="0619865bfa592acb90ff7956c8d17319fe1d4292" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="0556c392beb59433e577e3517575801212201df6" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="d90dceea7c1a04ad4324f5ee286f3eaa9129bdbd" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="19fd50ab2145f57a76d0913f3bee13ae667f46c9" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="0ee530972bdc99a4178cb05bf1886637b53bee86" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="0631e2efa6d8580618fa39091bea80000fd44dbd" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="28cf891b92d52fd62928110198b1cd46088b548f" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="54978e00d5529eb3e1947e9809445602c7bd0037" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="80501a0191ced6a0459417fac924947765cd9c33" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="198d281b63ddfe0a6d3c9678ffe62b458fbbdabf" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="86bc49bfc8766cdcb079d46ca9c874e0d4c1f9d4" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="9b168499b802eb63aa16be2a7a6f9112b4dbbac3" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="18fde9588c236d51eea9437ed882d8b751daf01f" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="48e81c60e173552fce77ce3b414e68b7d52a5301" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="815216ecc4c8cac1cc5905ca3fb5d6168c1deac4" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="c0ffa7b8d49938ba213b4d3e894d56b3aba4e983" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="373f266a9fa9837c675b202ebe3399ef7f69bb39" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="79c15db5d9f6e8cb2b80726dfc5f039bcf4888ab" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="6081ee273f52b1d8e920ad2084c71ba8f690b557" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="cce2994151ccd58ccbb5db060374ec909e34cf8c" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="8ac42465e2fe7dad668b3c68b5d89e8e0cc90f4e" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="df391cea80b616eec37a51eb8b2dddb0024c8e6a" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="15c5a11998ab606999b8ef61ff2c04d217064d62" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="4f1313b1f35af094c91e68d7f41788c8990dc980" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="3acd305258bc017c7224b1933edd148deb03d79a" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="d8edd632f37449e5954f4291db59239dc0ecf5df" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="bcf50ce79a21340388894cef522871b14926ad2d" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="02a0202dff44ec31cb4c0d203b36580b7f521a07" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="083509db5ad9d1680830be9add727d58b54ca0d3" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="bd92f8c5ab55777c66492a6f3566d013f19c9bbe" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="0ee18f6a3541ddd40bce81ce17a876d366063159" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="6ecd6540a3f86273e966ebb0726b1ad7e9574755" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="61e319af071b05b113d2a7613321236c82c154ee" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="30019f0b0c682f14e58f0302a24d3cf2b1b0d4e5" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="d336802a36ed2c87dd243e7c2f1d0542dace5cca" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="dd55efd721df8a013709e27836bdf26623e5320e" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="bdec3915c01cd60e20892376aa5e5a0d3980c389" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="0631e2efa6d8580618fa39091bea80000fd44dbd" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="a2aaff3c6e19d7442295ca8a1c39e8c3a8b4081a" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="34db7fa10954c15a7561fa33c25c87380464b66a" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="02545575792c66a176969b71c09ae0e91ebd49a4" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="7bcba7d68cc46e0555afcf267eccbd4fe26979d9" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="c65babfd749817e6d0f8233d653f8a85e4220b48" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="9d8be825e847e9a54d8fe579d17a326da9aaca0e" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="2fdf62144b5d87649648496823b4bddac915906d" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="ee561c270fa186bac51bb240d4ce2166f866795c" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="ec18632a76819220dec2aab6935def2fb386e079" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="9c0ae2843bccaa793bab4ad40f609a1139b0237b" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="0ed4f3ca16fd94127a665b38fd3b3ace935a7658" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
            Archive type="binary" sha1sum="f6ad1a87ee2c0a336fefbe56965d12d1acd651b8" target="libreoffice-26.2.2.2/external/tarballs/" {
                "binary"
            }
        BuildDependencies {
        Dependency "ant"
        Dependency "glm"
        Dependency "git"
        Dependency "zip"
        Dependency "wget"
        Dependency "rhino"
        Dependency "gperf"
        Dependency "unzip"
        Dependency "which"
        Dependency "ccache"
        Dependency "doxygen"
        Dependency "xz-devel"
        Dependency "nss-devel"
        Dependency "apr-devel"
        Dependency "kio-devel"
        Dependency "kio-devel"
        Dependency "fast_float"
        Dependency "cups-devel"
        Dependency "curl-devel"
        Dependency "glew-devel"
        Dependency "md4c-devel"
        Dependency "gtk3-devel"
        Dependency "gtk4-devel"
        Dependency "neon-devel"
        Dependency "glew-devel"
        Dependency "zlib-devel"
        Dependency "webp-devel"
        Dependency "libXt-devel"
        Dependency "boost-devel"
        Dependency "libSM-devel"
        Dependency "jdk-openjdk"
        Dependency "jre-openjdk"
        Dependency "icu4c-devel"
        Dependency "python-lxml"
        Dependency "ki18n-devel"
        Dependency "kauth-devel"
        Dependency "solid-devel"
        Dependency "ki18n-devel"
        Dependency "libX11-devel"
        Dependency "libICE-devel"
        Dependency "gnutls-devel"
        Dependency "libcdr-devel"
        Dependency "libwpd-devel"
        Dependency "libwpg-devel"
        Dependency "libwps-devel"
        Dependency "rasqal-devel"
        Dependency "libxcb-devel"
        Dependency "attica-devel"
        Dependency "libffi-devel"
        Dependency "xmlsec-devel"
        Dependency "rxvt-unicode"
        Dependency "python3-lxml"
        Dependency "libzmf-devel"
        Dependency "libqxp-devel"
        Dependency "sonnet-devel"
        Dependency "kcrash-devel"
        Dependency "argon2-devel"
        Dependency "libxslt-devel"
        Dependency "libXext-devel"
        Dependency "poppler-devel"
        Dependency "openssl-devel"
        Dependency "librsvg-devel"
        Dependency "clucene-devel"
        Dependency "cppunit-devel"
        Dependency "raptor2-devel"
        Dependency "redland-devel"
        Dependency "gpgmepp-devel"
        Dependency "kconfig-devel"
        Dependency "kxmlgui-devel"
        Dependency "kcodecs-devel"
        Dependency "kconfig-devel"
        Dependency "harfbuzz-devel"
        Dependency "mesa-glu-devel"
        Dependency "postgresql-lib"
        Dependency "libvisio-devel"
        Dependency "hunspell-devel"
        Dependency "libmspub-devel"
        Dependency "libepoxy-devel"
        Dependency "qt5-base-devel"
        Dependency "kservice-devel"
        Dependency "qt6-base-devel"
        Dependency "dbus-glib-devel"
        Dependency "libXrandr-devel"
        Dependency "perl-XML-Parser"
        Dependency "graphite2-devel"
        Dependency "libodfgen-devel"
        Dependency "libunwind-devel"
        Dependency "libassuan-devel"
        Dependency "zxing-cpp-devel"
        Dependency "openjpeg2-devel"
        Dependency "libplasma-devel"
        Dependency "libXrender-devel"
        Dependency "perl-Archive-Zip"
        Dependency "fontconfig-devel"
        Dependency "librevenge-devel"
        Dependency "libetonyek-devel"
        Dependency "liblangtag-devel"
        Dependency "libtommath-devel"
        Dependency "bluez-libs-devel"
        Dependency "abseil-cpp-devel"
        Dependency "kguiaddons-devel"
        Dependency "kbookmarks-devel"
        Dependency "kitemviews-devel"
        Dependency "libarchive-devel"
        Dependency "llvm-clang-devel"
        Dependency "libXinerama-devel"
        Dependency "xcb-util-wm-devel"
        Dependency "libfreehand-devel"
        Dependency "poppler-cpp-devel"
        Dependency "kdbusaddons-devel"
        Dependency "kcoreaddons-devel"
        Dependency "kiconthemes-devel"
        Dependency "kjobwidgets-devel"
        Dependency "kcompletion-devel"
        Dependency "kcoreaddons-devel"
        Dependency "SuiteSparse-devel"
        Dependency "libpagemaker-devel"
        Dependency "libgpg-error-devel"
        Dependency "python3-setuptools"
        Dependency "mit-kerberos-devel"
        Dependency "kglobalaccel-devel"
        Dependency "ktextwidgets-devel"
        Dependency "libXcomposite-devel"
        Dependency "libjpeg-turbo-devel"
        Dependency "libatomic_ops-devel"
        Dependency "sane-backends-devel"
        Dependency "qt5-x11extras-devel"
        Dependency "kwindowsystem-devel"
        Dependency "kwindowsystem-devel"
        Dependency "qt6-multimedia-devel"
        Dependency "kwidgetsaddons-devel"
        Dependency "gst-plugins-base-devel"
        Dependency "gobject-introspection-devel"
        Dependency "serf-devel"
        Dependency "mesa-devel"
        Dependency "mdds-devel"
        Dependency "lcms2-devel"
        Dependency "python3-devel"
        }
        Patches {
            Patch "make-pyuno-work-with-system-wide-module-install.diff"
            Patch "fix_build_with_poppler_26.04.0.patch"
        }
    }
}
